/vendor
/node_modules
/public/storage
Homestead.yaml
Homestead.json
.env
.idea
/storage/*.txt
/storage/*.json

# IDE
.phpstorm.meta.php
_ide_helper_models.php
_ide_helper.php

# public
/public/components
/public/build
/public/css/all.css
/public/js/app.js
/public/upload
/public/css/app.css
/public/sitemap*.xml

/shippable
